/**
 * +++ +++ CONFIG +++ +++
 */
// +++ text colors 
$text-white: map-get($font-colors, white);
// +++ header +++
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	min-height: 25vh;
	color: $text-white;
}
.social_block {
	padding: 4px 0 4px 15px;
}