// *** COLORS ***
$main-red: #b82027;
$white: #fff;
$black: #1A1A1A;
$contact-bg: #353535;
$transparent: rgba(255, 255, 255, 0.0);
$schedule-bgk: #f4f4f4;
$schedule-now-bgk: #1d822b;
$main-text-color: #1A1A1A;
$a-color: #fff;
$a-hover-color: #fff;
$a-visited-color: #fff;
$font-white: #fff;
$light-gray: #b3b3b3;

// *** SCHEDULE COLORS
$open-box: #1eb934;
$wod-peeter: #1877ad;
$wod-dabachi: #b82027;
$fit-box: #bc26be;
$cr-lejdis: #b8b320;
$cr-student: #b86f20;
$trx: #6b20b8;
$wod-basic: #20b88f;
$weights: #727272;
$wod-przem: #2020b8;
$wod-szetela: #0fb820;
$wod-romek: #b89220;

// *** FONTS ***
$main-font: 'Roboto', sans-serif;
$section-font: 'Roboto Slab', serif;