$colors: (
	transparent: rgba(255, 255, 255, 0.0),
	white: #fff,
	black: #1A1A1A,
	red: #b82027
	);
$sh-colors: (
	open-box: #1eb934,
	wod-peeter: #1877ad,
	wod-dabachi: #b82027,
	fit-box: #bc26be,
	cr-lejdis: #b8b320,
	cr-student: #b86f20,
	trx: #6b20b8,
	wod-basic: #20b88f,
	weights: #727272,
	wod-przem: #2020b8,
	wod-szetela: #0fb820,
	wod-romek: #b89220
	);